
header{
    text-align: center; /*aligns the company logo image within the hdeader to the center*/
}

/*aside appears when hovered over*/
aside:hover{
    display: block; 
}

/*hover colour over link buttons*/
a:link, a:visited{
    color: red; 
}

/*base border, background colour, inner spacing and spacing below each element for mentioned attributes*/
 .navbar, footer{
    border: 0.15em solid gold; /* gold border (2px)*/ 
    border-radius: 0.3em; 
    background-color: black; 
    padding: 1rem; /*inner spacing (16px)*/
    position: relative; /*this creates stacking*/
    margin-top: 0.3rem; /* spacing between elements above (5px)*/
    margin-bottom: 10px; /* spacing between elements below (10px)*/
}

/*adjusting custom footer padding to be proportional to above elements*/
footer{
    padding: 0.125rem; /*inner spacing*/
}

.container{
    margin: 2% auto; /*centers content*/
    max-width: 90vw; /*same width as navbar, footer, castle*/
}


/*menu bar alignment*/
.index-navbar{
    text-align: center;
}

/*menu bar style and border*/
.index-navbar a, .index-footer a{
  color: red; /* text colour is red*/
  text-decoration: none; /*removes underline*/
  margin: 0 5vw; /* spacing left/right of each link (adjusts to screen width)*/
  padding: 0.5em 1em; /*inline spacing in the link box (6px, 12px)*/
  border: 0.15em solid red; 
  border-radius: 0.3em; 
  background-color: black; 
}

/*menu bar hover*/
.navbar a:hover, footer a:hover{
  background-color: red; 
  color: black; 
}

/*castle image container  - reference from https://www.bannerbear.com/blog/how-to-overlay-text-on-an-image-in-html-and-css*/
.castle-container{
    position: relative; /*makes sure the container doesn't move, but text can overlay on it */  
}

/*castle image size and positioning*/
.castle{
    width: 100%;
    height: auto; /* maintain aspect ratio */
    image-rendering: pixelated; /* keeps pixelated effect to get retro effect on image */
    border: 0.15em solid gold;
    border-radius: 0.3em;
}

/*text overlay on top of image  - reference from https://www.bannerbear.com/blog/how-to-overlay-text-on-an-image-in-html-and-css/*/
.text_overlay {
    font-size: 4.375rem;
    background-color: rgba(0, 0, 0, 0.25);
    border: 0.104vw solid red;
    border-radius: 0.3em; 
    color: gold;
    position: absolute; /* positions text overlay above everything and fixed in place(.castle_container) */
    top: 60%; /*centers the text overlay from vertical point*/
    left: 10%; /*centers the text overlay from the left*/
    right: 10%; /*centers the text overlay from the right*/
    font-size: large;
    font-weight: bold;
}

#slogan {
    font-size: xx-large; /* slogan size is extra large*/
}



main{
    text-align: center; /*centers all main text*/
}


footer p { /*allows footer links to be side by side*/
display: inline-block; 
width: 33%; /* each paragraph takes 1/3 of footer */
}


footer p:first-child {
float: left; 
}


footer p:nth-child(2) {
text-align: center;
}


footer p:last-child {
float: right;
text-align: right;
}