/*
Silang SONG's Page
A game development company expanding its tech team (G01)
*/


/* A non movable navigationbar */
.navbar {
    font-family: 'Courier New', Courier, monospace; /* Pixel-style font */
    

    padding: 10px;/*changes the size of task bar*/


    position: fixed; /* keeps the navbar in position  */
    display: flex;
    justify-content: space-between;
    
    top: 0;
    left: 0;
    right: 0;
    
    box-shadow: 1px 1px #ff0000;
    background: linear-gradient(red, #0d0d0d, #1a1a1a); 
}

/* changing the size of image  */
.logo img{
    width: 5em;
}

/* giving the navigation colour  */
.navtitle {
    color:#ff4d4d;
    text-decoration: none;
    border: 2px solid #ff0000;
    background-color: #1a1a1a;
    border-radius: 4px; /* makes the border more round  */
    padding:0.2em 0.6em;
    font-size: large;
}

/* when hovering on the navigation it will turn gray  */
.navtitle:hover {
    color: black;
    background-color: #ff0000;
}


.top_page {
               
    font-size: 50px;
    min-height: 100vh;
    box-shadow: 1px 1px #000000;
    /* background-image: url('images/chatgpt_darkfantasy.png');
    background-repeat: no-repeat;
    background-size: cover;    */
}

.top_page {
    font-family: 'Courier New', Courier, monospace; /* Pixel-style font */
    color: white;
    /* putting text in the texts in the middle  */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* puts the navigation to the center  */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content a {
    font-size: 40px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    border: 5px solid gold;
    color: white;
    max-width: fit-content; /*changed the size of border*/
    background: linear-gradient(red,black);    
}




.content a:hover{
    color: gold;
    border-color: black;
    }




body {
    background: linear-gradient(to bottom, #0d0d0d, #1a1a1a);
    color: #ff4d4d;
    font-family: 'Courier New', Courier, monospace; /* Pixel-style font */
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}



nav {
    text-align: center;
}

form {
    font-family: 'Courier New', Courier, monospace;
    margin: 5% 20%;
    padding: 0;

    color: red;
}

form {
    font-size: 20px;
    display: grid;
    gap: 1em;

    
}

.form-textinput {
    display: grid;  
    
}

.form-textinput input
 {
    font-family: 'Courier New', Courier, monospace; /* Pixel-style font */
    border: 2px solid #ff0000;
    background-color: #0d0d0d;
    color: #ffcccc;
    width: 20%;
    font-size: 20px;   
    
}

.form-textinput input:hover {
    background-color: rgb(44, 44, 44);
}

header {
    text-align: center;
    color: red;
    font-size: 1.6em;
}

p {
    text-align: center;
    font-size: 2em;
}

p a {
    text-decoration: none;
    color: red;
}

p a:hover {
    color: white;
}

fieldset {
    border: 2px double red;
    width: 50%;
}

.form-gender label{
    color: #ffcccc;
}

#state {
    font-family: 'Courier New', Courier, monospace; /* Pixel-style font */
    border: 2px solid #ff0000;
    background-color: #0d0d0d;
    color: #ffcccc;
    width: fit-content;
    font-size: 20px; 
}

::placeholder {
    color: #ffcccc;
}


.form-skills {
    border: double red;
    
}



.form-skills h3{text-align: center;}

.skills-selection {
    margin: 2%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 40% 40% 40%; 
    color: #ffcccc;
    
}

.skills-selection :hover{
    color: red;
}



.form-skills .otherskills {
    text-align: center;
    color: #ff4d4d;
}
.form-skills .otherskills textarea {
    background-color: black;
    border: double red;
    color: #ff4d4d;
}

.buttons {
    text-align: center;
}

.submit,
.reset {
    font-family: 'Courier New', Courier, monospace; /* Pixel-style font */
    background-color: red;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 0.9em;
    border: solid 5px #ff4d4d;;
}

.submit:hover,
.reset:hover {
    color: black;
    background-color: brown;
}

footer {
    
    background: linear-gradient(to bottom, #0d0d0d, red);
    padding: 15px;
    border-top: double red;
    
}

footer nav a {
    color: white;
    text-decoration: none;
}

footer nav a:hover {
    color: black;
}

.swords {
  margin-top: 16px;
  margin-bottom: 16px;
  background-image: url("../images/sword.png"), url("../images/sword.png");
  background-repeat: repeat-y, repeat-y;      
  background-position: left 0 top, right 0 top; 
  background-size: 200px auto, 200px auto;  
  background-repeat: no-repeat round, no-repeat round;

}
