/*
Silang SONG's Page
A game development company expanding its tech team (G01)
*/


/* A non movable navigationbar */
.navbar {
    font-family: Arial, Georgia, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    border: none;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    box-shadow: 1px 1px #888888;
    background-color: rgba(0, 0, 0, 0.76);
}

/* giving a border to the logo  */
.logo {
    color: #ffffff;
    border: 4px solid;
    border-color:  #ccc;
    text-decoration: none;
    padding:0.2em 0.6em;
    font-size: large;
}

/* giving the navigation colour  */
.navtitle {
    color: #ffffff;
    text-decoration: none;
    padding:0.2em 0.6em;
    font-size: large;
}

/* when hovering on the navigation it will turn gray  */
.navtitle:hover {
    color: gray;
}


.top_page {
            font-family: 'Courier New', Courier, monospace; /* Pixel-style font */
            color: white;
            /* putting text in the middle of the image  */
            display: flex;
          
            align-items: center;
            justify-content: center;
           
            font-size: 50px;
            /* setting the size of image  QUESTIONS: why is my image not filling up the entire section  */
            min-height: 100vh;
            
            /* background-image: url('images/chatgpt_darkfantasy.png');
            background-repeat: no-repeat;
            background-size: cover;    */
        }

        
/* puts the navigation to the center  */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content a {
    font-size: 40px;
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid #ccc;
    background-color: #6d0000;
    border-width: 1px;
    color: white;
    max-width: fit-content; /*changed the size of border*/
    background-image: linear-gradient(#0000ad,#1216f7);
    
    
}




.top_page .content a:hover{
    color: #2F4F4F;
    border-color: blue;
    background-color: aqua;
    }




body {
    font-family: Arial, Georgia, serif; 
    background-image: linear-gradient(#1A1A2E,#53000e,#061d3a,#16213E,#240046);
}

form {
    font-family: Arial, Georgia, serif; 
    margin: 0.5% 10%;
    padding: 0;
    background-color: black;
    color: rgb(255, 255, 255);
}



nav {
    text-align: center;
}

.form-jobnumber, 
.form-name,

.form-birthday,
.form-address,
.form-email,
.form-phonenumber {   
    padding: 5px;
    margin: 2%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 50%;
    border: 1px solid #ccc;
    background-color: #969696;
    font-size: 16px;
    color: #000000;
}

.form-name {


}

.form-birthday {


}

.form-gender {


}

.form-address {


}

.form-email {


}

.form-phonenumber {


}

.form-skills {
    margin: 2%;

}