

body {
    background-color: black;
    background-image: url('dark_fantasy.webp'); /* reference https://wallpapers.com/wallpapers/dark-fantasy-wallpaper-g4winjq6p7fbjsdl.html */
    background-size: cover;     
    background-position: center; 
    background-attachment: fixed;
}

aside:hover{
    display: block;
}

header, #Description, footer, .navbar{
    border: 5px solid #e99a45; 
    background-image: linear-gradient(to bottom, red, black);
    color: gold;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
img{
    height: 160px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    background-color: darkred;
    height: 40px;
    text-align: center; 
    padding-left: 40px;   
}


nav a:hover {
    background-color: darkorchid; 
    text-decoration: underline;
}

main{
    text-align: center;
}


a:link, a:visited{
    color: gold;
}

footer p {
display: inline-block;
width: 33%;
}


footer p:first-child {
float: left;
}


footer p:nth-child(2) {
text-align: center;
}


footer p:last-child {
float: right;
text-align: right;
}

